{{ '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' | script_tag }}
{{ 'jquery.tmpl.min.js' | asset_url | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}
{% assign grid_item_width = 'small--one-half medium-up--one-quarter' %}
<script>
  const showDisplay: 4;
</script>
  <div class="recently product-template__container head-room">
    <div class="recently__inner">
      <h2 class="recently__heading">最近閲覧した商品</h2>
      <!-- メモ： id="recently-viewed-products"の中に入る -->
      <div class="recently__cardGroup" id="recently-viewed-products"></div>
      <div class="leg-room">
        {% raw %}
        <script id="recently-viewed-product-template" type="text/x-jquery-tmpl">
          <div class="recently__cardWrap" id="product-${handle}" itemscope itemtype="http://schema.org/Product">
            <a href="${url}">
              <div><img src="${Shopify.Products.resizeImage(featured_image, "medium")}"></div>
              <div>${title}</div>
            </a>
          </div>
        </script>
        {% endraw %}
        <script>
        Shopify.Products.showRecentlyViewed({howManyToShow: showDisplay});// 表示する商品数を変更できます。
        </script>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer></script>
  <script>
    let mySwiper = new Swiper ('.swiper', {

      // オプション設定
      loop: true,
    
      // 以下のコードは省略可能
      //ページネーション表示設定
      pagination: {
        el: '.swiper-pagination', //ページネーション要素
        type: 'bullets', //ページネーションの種類
        clickable: true, //クリックに反応させる
      },
    
      //ナビゲーションボタン（矢印）表示の設定
      navigation: {
        nextEl: '.swiper-button-next', //「次へボタン」要素の指定
        prevEl: '.swiper-button-prev', //「前へボタン」要素の指定
      },
    
      //スクロールバー表示の設定
      scrollbar: {
        el: '.swiper-scrollbar', //要素の指定
      },
      //ここまで省略可能
    });
  </script>