<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{{ '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' | script_tag }}
{{ 'jquery.tmpl.min.js' | asset_url | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}
{% assign grid_item_width = 'small--one-half medium-up--one-quarter' %}
<script>
  const showDisplay: 4;
</script>
  <div class="recently product-template__container head-room">
    <div class="recently__inner">
      <h2 class="recently__heading">最近閲覧した商品</h2>
      <!-- メモ： id="recently-viewed-products"の中に入る -->
      <div class="recently__cardGroup" id="recently-viewed-products"></div>
      <div class="leg-room">
        {% raw %}
        <script id="recently-viewed-product-template" type="text/x-jquery-tmpl">
          <div class="recently__cardWrap" id="product-${handle}" itemscope itemtype="http://schema.org/Product">
            <a href="${url}">
              <div><img src="${Shopify.Products.resizeImage(featured_image, "medium")}"></div>
              <div>${title}</div>
            </a>
          </div>
        </script>
        {% endraw %}
        <script>
        Shopify.Products.showRecentlyViewed({howManyToShow: showDisplay});// 表示する商品数を変更できます。
        </script>
      </div>
    </div>
  </div>

  <!-- スライダーのメインコンテナ要素（必須） -->
  <div class="swiper">
    <!-- スライドを囲む要素（必須） -->
    <div class="swiper-wrapper">
      <!-- スライド要素（必須） -->
      <div class="swiper-slide">スライド</div>
      <div class="swiper-slide">スライド２</div>
      <div class="swiper-slide">スライド３</div>
      <div class="swiper-slide">スライド４</div>
      <div class="swiper-slide">スライド５</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer></script>
  <script defer>
    $(function(){
      let mySwiper = new Swiper ('.swiper', {
        // オプション設定
        loop: true,
      });
    });
  </script>