  <script src="{{ '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' }}" defer></script>
  <script src="{{ 'jquery.tmpl.min.js' | asset_url }}" defer></script>
  <script src="{{ 'jquery.products.min.js' | asset_url}}" defer></script>
  {% assign grid_item_width = 'small--one-half medium-up--one-quarter' %}
  <script>
  var show = 4;
  </script>
  <div class="recently product-template__container head-room">
    <div class="recently__inner">
      <h2 class="recently__heading">最近閲覧した商品</h2>
      <!-- メモ： id="recently-viewed-products"の中に入る -->
      <div class="recently__cardGroup" id="recently-viewed-products"></div>
      <div class="leg-room">
        {% raw %}
        <script id="recently-viewed-product-template" type="text/x-jquery-tmpl">
          <div class="recently__cardWrap" id="product-${handle}" itemscope itemtype="http://schema.org/Product">
            <a href="${url}">
              <div><img src="${Shopify.Products.resizeImage(featured_image, "medium")}"></div>
              <div>${title}</div>
            </a>
          </div>
        </script>
        {% endraw %}
        <script>
          Shopify.Products.showRecentlyViewed({howManyToShow: 4});// 表示する商品数を変更できます。
        </script>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js" defer></script>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
  <script type="text/javascript" defer>
    $(function(){
      var swiper = new Swiper('.swiper',{
        loop: true,
        slidesPerView: 4
      });
    });
  </script>