<script src="{{'jquery.tmpl.min.js' | asset_url}}"></script>
<script src="{{'jquery.products.min.js' | asset_url}}"></script>
<style>
  .recently__inner{
    max-width: 1200px;
    margin: 0 auto;
    z-index: 0;
  }

  .slick-slide{
    padding: 0 4px;
  }

  .slick-arrow{
    width: 35px !important;
    height: 35px !important;
    border-radius: 100px;
    border: 1px solid #c49a6a !important;
    z-index: 10;
    background-color: #fff !important;
  }

  .slick-arrow.slick-disabled{
    display: none !important;
  }

  .slick-arrow.slick-prev{
    left: -15px;
  }

  .slick-arrow.slick-next{
    right: -15px;
  }

  .slick-arrow.slick-prev:before,
  .slick-arrow.slick-next:before{
    display: inline-block;
    transform: translate(7px);
    color: #c49a6a;
  }

  .slick-arrow:hover{
    background-color: #c49a6a !important;
  }
</style>
  <div class="recently">
    <div class="recently__inner">
      <h2>最近閲覧した商品</h2>
      <div class="js-slick" id="recently-viewed-products"></div>
      {% assign grid_item_width = 'small--one-half medium-up--one-quarter' %}
      <div class="grid grid--uniform grid--view-items leg-room">
        {% raw %}
        <script id="recently-viewed-product-template" type="text/x-jquery-tmpl">
        <div class="grid__item small--one-half medium-up--one-quarter" itemscope itemtype="http://schema.org/Product" >
        <div class="products" id="product-${handle}"}>
          <div class="image">
            <a href="${url}"><img src="${Shopify.Products.resizeImage(featured_image, "medium")}" width="390" height="209" loading="eager"></a>
          </div>
          <div class="details">
            <a href="${url}"><span class="h4 grid-view-item__title product-card__title">${title}</span></a>
          </div>
        </div>
        </div>
        </script>
        {% endraw %}
        <script>
        Shopify.Products.showRecentlyViewed({howManyToShow: 6});// 表示する商品数を変更できます。
        </script>
      </div>
    </div>
  </div>