<style>
  .icon__heart {
    position: relative;
  }
  
 a.action--wishlist.tile-actions--btn.flex.wishlist-btn {
  height: 38px;
    width: 38px;
    background: #f1f1f1;
    padding: 1rem;
    border-radius: 50px;
    display:inline-block;
    transition-duration: 0.5s;
  }
  
  a.action--wishlist.tile-actions--btn.flex.wishlist-btn.is-active {
    background: transparent;
    border: 1px solid #f1f1f1;
  }
  
  a.action--wishlist.tile-actions--btn.flex.wishlist-btn.is-active > .heart:before,
  a.action--wishlist.tile-actions--btn.flex.wishlist-btn.is-active > .heart:after {
    background: #e63c3c ;
  }
  
.heart {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  left: 6px;

  display: block !important;
}
.heart:before,
.heart:after {
  position: absolute;
    content: "";
    left: 13px;
    top: 0;
    width: 13px;
    height: 20px;
    background: #fff;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
}
  
</style>

<div class="icon__heart">
<a class="action--wishlist tile-actions--btn flex wishlist-btn" href="#">
  <div class="heart"></div>
</a>
</div>