<h2>{{section.settings.title}}</h2>

{% schema %}
  {
    "name": "オリジナルセクション１",
    "tag": "section",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "テキストが入ります"
      }
    ],
    "presets": [
      {
      "name": "オリジナルセクション１"
      }
    ]
  }
{% endschema %}