<div class="feature__inner">
  <h2 class="feature__heading">{{ section.settings.feature__heading | escape }}</h2>
  <ul class="feature__list">
    {% for block in section.blocks %}
    <li class="feature__item">
      <div class="feature__description">
        <h3 class="feature__itemTitle">{{block.settings.feature__itemTitle}}</h3>
        <p class="feature__itemText">{{block.settings.feature__itemText}}</p>
      </div>
      <figure class="feature__imageWrap"><img src="" alt="" width="" height="" loading="lazy"></figure>
    </li>
  {% endfor %}
  </ul>
</div>
{% schema %}
  {
    "name": "ダブルカラム",
    "tag": "section",
    "class": "feature",
    "blocks": [
      {
        "type": "feature__item",
        "name": "特徴項目",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "feature__itemTitle",
            "label": "項目タイトル"
          },
          {
            "type": "richtext",
            "id": "feature__itemText",
            "label": "項目テキスト"
          },
          {
            "type": "image_picker",
            "id": "feature__itemImage",
            "label": "項目のイメージ"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "feature__heading",
        "label": "セクションタイトル"
      }
    ],
    "presets": [
      {
        "name": "ダブルカラム"
      }
    ]
  }
{% endschema %}