<div class="inner">
  <div class="row">
    <div class="description"></div>
    <figure class="imageWrap"><img src="" alt="" width="" height=""></figure>
  </div>
</div>
{% schema %}
  {
    "name": "オリジナルセクション2",
    "tag": "section",
    "class": "origin2",
    "settings": [
      {
        "type": "text",
        "id": "origin_title",
        "label": "セクションタイトル"
      }
    ],
    "presets": [
      {
        "name": "オリジナルセクション2"
      }
    ]
  }
{% endschema %}