<div class="inner">
  <div class="description">
    <h2 class="heading">{{section.settings.title}}</h2>
    <p class="text">{{section.settings.read}}</p>
  </div>
  <figure class="imageWrap"><img src="{{section.settings.image1 | img_url:'small'}}" alt="{{section.settings.image1.alt}}" width="" height=""></figure>
</div>
{% schema %}
  {
    "name": "オリジナルセクション１",
    "tag": "section",
    "class": "original-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "見出し",
        "default": "テキストが入ります"
      },
      {
        "type": "textarea",
        "id": "read",
        "label": "リード文",
        "info": "改行時は文末に<br>を入れてください",
        "default": "リード文が入ります"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "画像１"
      }
    ],
    "presets": [
      {
      "name": "オリジナルセクション１"
      }
    ]
  }
{% endschema %}