  <h2 class="">{{section.settings.headline}}</h2>
  <p>出力されるかな</p>
</section>

{% schema %}
  {
    "name": "オリジナルセクション1",
    "tag": "section",
    "class": "oriSec",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "見出し"
      }
    ]
  }
{% endschema %}