<h2>{{section.settings.title}}</h2>
<p>{{section.settings.read}}</p>
{% schema %}
  {
    "name": "オリジナルセクション１",
    "tag": "section",
    "class": "original-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "見出し",
        "default": "テキストが入ります"
      },
      {
        "type": "text",
        "settings":[
          {
            "type": "richtext",
            "id": "read",
            "label": "リード文",
            "default": "リード文が入ります"
          }
        ]
      }
    ],
    "presets": [
      {
      "name": "オリジナルセクション１"
      }
    ]
  }
{% endschema %}