<div class="p-top-mainVisual">
  <div class="image-carousel swiper">
    <div class="image-carousel__wrapper swiper-wrapper">
      <div class="image-carousel__slide swiper-slide">slide1</div>
      <div class="image-carousel__slide swiper-slide">slide2</div>
      <div class="image-carousel__slide swiper-slide">slide3</div>
    </div>
    <div class="image-carousel__pagination swiper-pagination"></div>
  </div>
</div>

{% schema %}
{
  "name": "画像のカルーセル",
  "settings": [],
  "blocks": [],
  "presets": []
}
{% endschema %}