<link rel=”stylesheet” href=”https://unpkg.com/swiper/swiper-bundle.min.css”/>
<script src=”https://unpkg.com/swiper/swiper-bundle.min.js” defer></script>
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
{% schema %}
  {
    "name": "メインビジュアル",
    "tag": "div",
    "class": "mainVisual",
    "blocks": [
      {
        "type": "slide",
        "name": "スライド",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "slide__image",
            "label": "スライドの画像"
          },
          {
            "type": "checkbox",
            "id": "slide__anchor",
            "label": "遷移先の有無",
            "info": "遷移するスライドの場合、チェックを入れてください。"
          },
          {
            "type": "url",
            "id": "slide__url",
            "label": "遷移先URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "メインビジュアル"
      }
    ]
  }
{% endschema %}