<link rel=”stylesheet” href=”https://unpkg.com/swiper/swiper-bundle.min.css”/>
<script src=”https://unpkg.com/swiper/swiper-bundle.min.js” defer></script>
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
{% schema %}
  {
    "name": "メインビジュアル",
    "tag": "div",
    "class": "mainVisual",
    "blocks": [
      {
        "type": "image-picker",
        "name": "スライドの画像",
        "limit": 3
      }
    ],
    "presets": [
      {
        "name": "メインビジュアル"
      }
    ]
  }
{% endschema %}