
<h1 style="text-align: center;">ニュース記事一覧</h1>
<ul style="max-width: 680px; marigin: 0 auto;">
  {% for article in blog.articles  %}
  <li>
    <div>{{ article.title }}</div>
  </li>
{% endfor %}
</ul>