
<h1 style="text-align: center;">ニュース記事一覧</h1>
<ul style="max-width: 680px; margin: 60px auto 0;">
  {% for article in blog.articles  %}
  <li style="padding: 20px;">
    <div>{{ article.title }}</div>
  </li>
{% endfor %}
</ul>