<div class="p-top-mainVisual">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="{{ '_lunch.jpeg' | asset_url }}" alt="" width="" height="" loading="lazy"></div>
      <div class="swiper-slide"><img src="{{ '_lunch2.jpeg' | asset_url }}" alt="" width="" height="" loading="lazy"></div>
      <div class="swiper-slide"><img src="{{ '_lunch3.jpeg' | asset_url }}" alt="" width="" height="" loading="lazy"></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.slider.name",
    "blocks": [],
    "settings": [],
    "presets": []
  }
{% endschema %}