<div class="page-width wishlist">
  <div class="wishlist-container">
    <div class="wishlist-hero">
      <h1 class="center">{{ page.title }}</h1>
    </div>
    <div class="wishlist-grid flex">
      <!-- ここから wishlist-product-list.liquid -->
      {% paginate collections.all.products by 9999 %}
        {% for product in collections.all.products %}
      {% include 'wishlist-product-list' %}
        {% endfor %}
      {% endpaginate %}
      <!-- ここまで wishlist-product-list.liquid -->

      <div class="wishlist-grid--empty-list">
        <div class="empty-list--info">
          <p class="empty-list--text black center">{{ section.settings.text }}</p>
          <a class="btn empty-list--btn center" href="/collections/all">{{ section.settings.shopping }}</a>
        </div>
      </div>

      {{ collection.all_products_count | json }}

    </div>
  </div>
</div>
  
  {% schema %}
  {
    "name": "お気に入りリスト",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "お気に入り追加していない時に表示する文言",
        "default": "お気に入りに追加してみてね"
      },
      {
        "type": "text",
        "id": "shopping",
        "label": "商品一覧へ",
        "default": "商品一覧へ"
      }
    ]
  }
  {% endschema %}
  
  