@use "./variable" as *;
@use "./mixin" as *;
body{
  font-family: 'Noto Sans JP', sans-serif;
  color: $black;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main{
  flex: 1;
}

img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

.is-hidePc{
  @include pc{
    display: none;
  }
}

.is-hidePcTab{
  @include pcTab{
    display: none;
  }
}

.is-hideSp{
  @include sp{
    display: none;
  }
}

.is-hideSpTab{
  @include spTab{
    display: none;
  }
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  border: 1px solid $white;
  border-radius: 100px;
  background-color: #ffe4c4;
}

.swiper-pagination-bullet-active{
  background-color: #ff8c00;
}

.cart_num{
  width: 30px;
  text-align: center;
  border: 1px solid rgba($color: $black, $alpha: 0.3);
  &:disabled{
    visibility: hidden;
  }
}

.quantity_button{
  width: calc(90% - 30px);
  text-align: center;
  border: 1px solid rgba($color: $black, $alpha: 0.3);
  &:disabled{
    background-color: rgba($color: $black, $alpha: 0.3);
  }
}