@use "./variable" as *;
@use "./mixin" as *;
.collection{
  padding: 30px 0 60px;
  .section{
    margin: 0 auto;
  }
  .page-width{
    padding: 0 !important;
  }
}

.collection__inner{
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 0 auto;
}

.collection__heading{
  position: relative;
  &:before{
    content: "";
    width: 4px;
    height: 1em;
    margin-right: 5px;
    display: inline-block;
    transform: translateY(2px);
    border: 1px solid $black;
  }
}

.collection__listWrap{
  margin-top: 20px;
  padding: 0;
}

.collection__list{
  display: flex;
  flex-wrap: wrap;
}

.collection__item{
  height: 100%;
  position: relative;
  @include pcTab{
    &.--all{
      width: calc(98% / 4);
      &:not(:nth-child(4n + 1)){
        margin: 10px 0 0 calc(2% / 3);
      }
      &:nth-child(4n + 1){
        margin-top: 10px;
      }
    }
    &.--ranking{
      &:not(:nth-child(n + 4)){
        width: calc(98% / 3);
      }
      &:nth-child(n + 4){
        width: calc(97% / 4);
      }
      &:nth-child(n + 2):nth-child(-n + 3){
        margin-left: calc(2% / 2);
      }
      &:nth-child(n + 5){
        margin: 25px 0 0 calc(3% / 3);
      }
      &:nth-child(4n + 4){
        margin: 25px 0 0 0;
      }
    }
  }
  @include sp{
    width: calc(98% / 2);
    &:nth-child(2n){
      margin: 10px 0 0 2%;
    }
    &:not(:nth-child(2n)){
      margin-top: 10px;
    }
  }
  .full-unstyled-link{
    &:after{
      height: 85%;
    }
  }
}

.collection__option{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection__quantityWrap{
  text-align: center;
  @include pcTab{
    width: 40px;
  }
  @include sp{
    width: 30px;
  }
}

.collection__quantity{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba($color: $black, $alpha: 0.3);
  &:disabled{
    visibility: hidden;
  }
  &:focus{
    outline: 0;
    box-shadow: none;
    border: 1.5px solid rgba($color: $black, $alpha: 0.8);
  }
  @include pcTab{
    height: 40px;
  }
  @include sp{
    height: 25px;
  }
}

.collection__buttonWrap{
  @include pcTab{
    width: calc(90% - 40px);
  }
  @include sp{
    width: calc(90% - 30px);
  }
}

.collection__button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid rgba($color: $black, $alpha: 0.3);
  &:not(:disabled){
    &:hover{
      color: $white;
      background-color: $black;
    }
  }
  &:disabled{
    cursor: not-allowed;
    background-color: rgba($color: $black, $alpha: 0.3);
  }
  @include pcTab{
    min-height: 40px !important;
  }
  @include sp{
    min-height: 25px !important;
    font-size: 12px;
  }
}

.collection__badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 1rem;
  @include pcTab{
    width: 30px;
    height: 30px;
  }
  @include sp{
    width: 20px;
    height: 25px;
    font-size: 13px;
  }
}

.collection-aside__wrapper{
  @include pcTab{
    display: unset !important;
  }
}

.collection-aside__form{
  @include pcTab{
    display: unset !important;
    gap: unset !important;
  }
}

.collection-aside__sortWrap{
  @include pcTab{
    display: unset !important;
  }
}

.collection-aside__details{
  @include pcTab{
    margin-right: unset !important;
  }
}

.collection-aside__filters{
  @include pcTab{
    padding-left: 0 !important;
  }
}

.collection-aside__label{
  @include pcTab{
    margin: 0 !important;
  }
}

// card
.card .badge{
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  font-size: 10px;
  line-height: 0;
}