@use "./variable" as *;
@use "./mixin" as *;
.company-section{
  padding: 40px 0;
}

.company-section__inner{
  max-width: 1200px;
  margin: 0 auto;
}

.company-section__heading{
  position: relative;
  &:before{
    content: "";
    width: 4px;
    height: 1em;
    margin-right: 5px;
    display: inline-block;
    transform: translateY(2px);
    border: 1px solid $black;
  }
}

.company-section__list{
  margin-top: 40px;
  border: 1px solid $black;
}

.company-section__item{
  line-height: 1.5;
  &:nth-child(n + 2){
    border-top: 1px solid $black;
  }
}

.company-section__itemData{
  border-left: 1px solid $black;
}