@use "./variable" as *;
@use "./mixin" as *;

.feature{
  padding: 50px 0;
}

.feature__inner{
  max-width: 1000px;
  width: calc(100% - 60px);
  margin: 0 auto;
}

.feature__heading{
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.feature__list{
  margin-top: 30px;
}

.feature__item{
  display: flex;
  justify-content: space-between;
  position: relative;
  &:nth-child(n + 2){
    margin-top: 30px;
  }
  &:nth-child(2n){
    flex-direction: row-reverse;
  }
}

.feature__description{
  width: calc(92% - 380px);
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba($color: #ffebcd, $alpha: 0.65);
  background-color: #fffaf0;
}

.feature__itemTitle{
  font-size: 20px;
  font-weight: 700;
}

.feature__itemText{
  margin-top: 15px;
  line-height: 1.65;
}

.feature__imageWrap{
  width: 380px;
}

