@use "./variable" as *;
@use "./mixin" as *;
.l-footer{
  border-top: 1px solid $black;
  @include pc{
    padding: 30px 0;
  }
  @include spTab{
    padding: 20px 0;
  }
}

.l-footer__inner{
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 0 auto;
}

.l-footer-top{
  @include pc{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.l-footer-top__logoWrap{
  border: 1px solid $black;
  @include pc{
    width: 120px;
  }
  @include spTab{
    width: 100px;
    margin: 0 auto;
  }
}

.l-footer-top__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  @include hover;
}

.l-footer-top-nav{
  @include pc{
    width: calc(90% - 120px);
  }
  @include spTab{
    margin-top: 30px;
  }
}

.l-footer-top-nav__list{
  display: flex;
  @include pc{
    flex-wrap: wrap;
  }
  @include spTab{
    justify-content: center;
    flex-direction: column;
  }
}

.l-footer-top-nav__item{
  @include pc{
    &:nth-child(n + 2){
      margin-left: 30px;
    }
  }
  @include spTab{
    text-align: center;
    &:nth-child(n + 2){
      margin-top: 20px;
    }
  }
}

.l-footer-top-nav__anchor{
  display: inline-block;
  @include hover3;
}

.l-footer-bottom__copyright{
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}