@use "./variable" as *;
.l-footer{
  padding: 80px 0;
  border-top: 1px solid $black;
}

.l-footer__inner{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.l-footer__logoWrap{
  width: 150px;
  border: 1px solid $black;
}

.l-footer__logo{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-footer-nav{
  width: calc(90% - 150px);
}

.l-footer-nav__list{
  display: flex;
  flex-wrap: wrap;
}

.l-footer-nav__item{
  &:nth-child(n + 2){
    margin-left: 20px;
  }
}