@use "./variable" as *;
@use "./mixin" as *;

.l-header{
  @include pc{
    padding: 20px 0;
  }
  @include spTab{
    padding: 10px 0;
  }
}

.l-header__inner{
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include spTab{
    position: relative;
  }
}

.l-header__logoWrap{
  @include pc{
    width: 150px;
  }
  @include spTab{
    width: 120px;
  }
}

.l-header__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $black;
  font-size: 14px;
  @include pc{
    height: 50px;
  }
  @include spTab{
    height: 30px;
  }
}

.l-header-nav{
  @include pc{
    width: calc(96% - 150px);
  }
  @include spTab{
    width: 250px;
    height: 70vh;
    padding: 70px 0 30px;
    position: fixed;
    top: 0;
    right: -110%;
    background-color: $orange;
    &.is-show{
      right: 0;
    }
  }
}

.l-header-nav__list{
  display: flex;
  align-items: center;
  @include pc{
    justify-content: flex-end;
  }
  @include spTab{
    flex-direction: column;
  }
}

.l-header-nav__item{
  @include pc{
    &:nth-child(n + 2){
      margin-left: 20px;
    }
  }
  @include spTab{
    width: 100%;
    text-align: center;
    &:nth-child(n + 2){
      margin-top: 10px;
    }
  }
}

.l-header-nav__anchor{
  display: block;
  @include spTab{
    padding: 20px 0;
    &:hover{
      color: $orange;
      background-color: $white;
    }
  }
  @include hover;
}

.l-header__hamburger{
  @include spTab{
    width: 30px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    display: flex;
  }
}

.l-header__bar{
  @include spTab{
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    left: 0;
    transition: transform 0.4s , opacity 0.4s;
    background-color: $black;
    &:first-child{
      top: 1px;
    }
    &:nth-child(2){
      top: 11px;
    }
    &:nth-child(3){
      top: 21px;
    }
     &.is-active{
      &:first-child{
        transform: translateY(5px) rotate(50deg);
      }
      &:nth-child(2){
        transform: translateY(10px);
        opacity: 0;
      }
      &:nth-child(3){
        transform: translateY(-5px) rotate(-50deg);
      }
     }
  }
}