@use "./variable" as *;
@use "./mixin" as *;

.l-header{
  padding: 8px 0;
}

.l-header__inner{
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include spTab{
    position: relative;
  }
}

.l-header__logoWrap{
  @include pc{
    width: 110px;
  }
  @include spTab{
    width: 60px;
  }
}

.l-header__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $black;
  font-size: 14px;
  @include hover;
}

.l-header-nav{
  @include pc{
    width: calc(96% - 150px);
  }
  @include spTab{
    width: 250px;
    height: 70vh;
    padding: 70px 0 30px;
    position: fixed;
    top: 0;
    right: -110%;
    transition: right 0.4s;
    border-left: 1px solid rgba($color: $black, $alpha: 0.6);
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.6);
    border-radius: 0 0 0 15px;
    background-color: $white;
    &.is-show{
      right: 0;
    }
  }
}

.l-header-nav__list{
  display: flex;
  align-items: center;
  @include pc{
    justify-content: flex-end;
  }
  @include spTab{
    flex-direction: column;
  }
}

.l-header-nav__item{
  @include pc{
    &:nth-child(n + 2){
      margin-left: 30px;
    }
    &:last-child{
      margin-left: 20px;
    }
  }
  @include spTab{
    width: 100%;
    text-align: center;
    &:nth-child(n + 2){
      margin-top: 10px;
    }
  }
}

.l-header-nav__anchor{
  display: block;
  @include pc{
    padding-bottom: 4px;
    @include hover3
  }
  @include spTab{
    padding: 20px 0;
    @include hover2;
  }
}

.l-header-nav__iconWrap{
  width: 30px;
}

.l-header-nav__icon{
  transform: translateY(-2px);
}

.l-header__hamburger{
  @include spTab{
    width: 25px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    display: flex;
  }
}

.l-header__bar{
  @include spTab{
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    left: 0;
    transition: transform 0.4s , opacity 0.4s;
    background-color: $black;
    &:first-child{
      top: 0;
    }
    &:nth-child(2){
      top: 10px;
    }
    &:nth-child(3){
      top: 20px;
    }
    &.is-active{
      &:first-child{
        transform: translateY(10px) rotate(48deg);
      }
      &:nth-child(2){
        transform: translateX(10px);
        opacity: 0;
      }
      &:nth-child(3){
        transform: translateY(-10px) rotate(-48deg);
      }
    }
  }
}