@use "./variable" as *;
@use "./mixin" as *;
#section-news-list .news-list-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
#section-news-list .container{
  max-width: 1200px;
  margin: 0 auto;
  @include pcTab{
    padding: 55px;
  }
  @include sp{
    padding: 35px 20px;
  }
}
#section-news-list .news-list-item{
  border-bottom: 1px solid #ccc;
}
#section-news-list .news-list-anchor{
  @include pcTab{
    padding: 20px;
    display: flex;
    align-items: center;
  }
  @include sp{
    display: block;
    padding: 15px;
  }
}
#section-news-list .news-list-date{
  margin-right: 15px;
}
#section-news-list .news-list-category{
  margin-right: 15px;
  padding: 5px;
  display: inline-block;
  transform: translateY(-1px);
  font-size: 10px;
  color: #fff;
  background-color: #000;
}
#section-news-list .news-list-info{
  position: relative;
  top: -1px;
  @include sp{
    margin-bottom: 5px;
  }
}