{% assign pageName = "origin-blog" %}
<section class="company-section">
  <div class="company-section__inner">
    <h2 class="company-section__heading">{{ page.title | escape }}</h2>
    <dl class="company-section__list">
      <div class="company-section__item">
        <dt class="company-section__itemTitle">会社名</dt>
        <dd class="company-section__itemData">株式会社アイダック</dd>
      </div>
      <div class="company-section__item">
        <dt class="company-section__itemTitle">住所</dt>
        <dd class="company-section__itemData">東京都新宿区百人町○-○-○ ○○○○2F</dd>
      </div>
      <div class="company-section__item">
        <dt class="company-section__itemTitle">資本金</dt>
        <dd class="company-section__itemData">¥12,345,678</dd>
      </div>
      <div class="company-section__item">
        <dt class="company-section__itemTitle">事業</dt>
        <dd class="company-section__itemData">
          <ul>
            <li class="company-section__subItem">デザイン事業</li>
            <li class="company-section__subItem">デイサービス事業</li>
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</section>